body{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
	background-color: rgb(1, 8, 63);
	position: fixed;
	
}

.container{
  display: flex;
	background-color: rgb(5, 0, 53);
  flex-direction: column;
  width: 380px;
  height: 530px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 1px #00cdf1;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
	color: #00bfff;
  font: bold 2.5rem serif;
  border-bottom: solid 1px #00bfff;
  margin-bottom: 20px;
}

.input {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.input input {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border:none;
  outline: 0;
  font: bold 1.5rem serif;
  text-align: center;
}

.input label {
  font: bold 1.5rem serif;
	color: #00bfff
}

button{
  width: 300px;
  height: 40px;
  font: bold 1.2rem serif;
  background: #000;
  color: #00bfff;
  background-color: rgb(1, 8, 63);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  border-color: #00bfff;
}

.result{
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  font: italic 1.5rem serif;
  box-shadow: 1px 1px 10px #00bfff;
  background: #fff;
  color: rgb(0, 191, 255));
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
}